rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /participants/{participantId} {
      allow read, write: if true;
    }
    match /test/{docId} {
      allow read, write: if true;
    }
  }
}
